[*.vb]

# IDE0028: 簡化集合初始化
dotnet_diagnostic.IDE0028.severity = silent

# IDE0017: 簡化物件初始化
dotnet_diagnostic.IDE0017.severity = silent

# BC42099: 未使用的區域常數
dotnet_diagnostic.BC42099.severity = none

# IDE0031: 使用 null 傳播
dotnet_diagnostic.IDE0031.severity = suggestion

# IDE1006: 命名樣式
dotnet_diagnostic.IDE1006.severity = silent

# BC42324: 在 Lambda 運算式中使用反覆運算變數可能會產生非預期的結果
dotnet_diagnostic.BC42324.severity = none

# BC42322: 對介面類型進行來回轉換時可能發生執行階段錯誤
dotnet_diagnostic.BC42322.severity = none
